
:root {
    --clr-dark: black;
    --clr-light: white;
}

.stomplore-escape {
    display: flex;
    width: 700px;
    border-radius: 10px;
}

.featureleak {
    display: flex;
    width: 100%;
    border-radius: 10px;
    position: fixed;
    z-index: -1;
}

.nothing {
    font-family: 'termina-regular';
    text-decoration: none;
    opacity: 20%;
    color: white;
}


.stomplore {
    display: flex;
    align-items: center;
}

.w-dialog {
    color: #FF00BF;
    font-size: 20px;
    animation: infinite;
    animation-duration: 1s;
    animation-name: w-textanim;
    flex-wrap: wrap;
}

.envisioner {
    color: white;
    font-size: 20px;
    animation: infinite;
    animation-duration: 20ms;
    animation-name: e-textanim;
    flex-wrap: wrap;
    background-color: transparent;
    
}

.null-dialog {
    color: white;
    font-size: 20px;
    animation: infinite;
    animation-duration: 1s;
    animation-name: null-textanim;
    flex-wrap: wrap;
}


.s-dialog {
    color: chartreuse;
    font-size: 20px;
    animation: infinite;
    animation-duration: 500ms;
    animation-name: w-textanim;
}

.detease {
    color: #FF00BF;
    font-family: 'termina-black';
    animation: infinite;
    animation-duration: 5s;
    animation-name: w-textanim;
    display:flex;
    direction: rtl;
}



@font-face {
    font-family: "termina-reg";
    src: url("./fonts/terminatest-regular-webfont.woff") format("woff"),
}
@font-face {
    font-family: "tomatoes";
    src: url("./fonts/Tomatoes-O8L8.ttf") format("ttf"),
}

@font-face {
    font-family: "termina-black";
    src: url("./fonts/terminatest-black-webfont.woff") format("woff"),
}

@font-face {
    font-family: "termina-med";
    src: url("./fonts/terminatest-bold-webfont.woff") format("woff"),
}

@font-face {
    font-family: "termina-light";
    src: url("./fonts/terminatest-extralight-webfont.woff") format("woff"),
}

* {
    margin: 0;
    padding: 0;
    font-family: 'termina-reg';
    background-color: var(--clr-dark);
    
}

@keyframes w-textanim {
    20% {
        font-size: 20px;
        font-family: 'termina-reg';
    }
    
    40% {
        font-size: 20px;
        font-family: 'termina-black';
        
    }
    60% {
        font-size: 20px;
        font-family: 'termina-light';
    }
    80% {
        font-size: 20px;
        font-family: 'termina-black';
    }
    100% {
        font-size: 20px;
        font-family: 'termina-reg';
    }
}

@keyframes e-textanim {
    20% {
        font-size: 20px;
        font-family: 'termina-reg';
        color: white;
    }
    
    40% {
        font-size: 20px;
        color: black;
        
    }
    60% {
        font-size: 20px;
        font-family: 'termina-light';
        color: white;
    }
    80% {
        font-size: 20px;
        color: black;
    }
    100% {
        font-size: 20px;
        font-family: 'termina-reg';
        color: white;
    }
}

@keyframes null-textanim {
    20% {
        font-size: 20px;
        font-family: 'termina-reg';
    }
    
    40% {
        font-size: 20px;
        font-family: 'tomatoes';
        color: red;
        
    }
    60% {
        font-size: 20px;
        font-family: 'termina-light';
    }
    80% {
        font-size: 20px;
        font-family: 'termina-black';
    }
    100% {
        font-size: 20px;
        font-family: 'termina-reg';
    }
}
.hero {
    font-family: 'termina-black';
    margin-left: 0%;
    padding-left: 10%;
    font-size: 50px;
    color: var(--clr-light);
}

.mainsubtitle {
    font-family: 'termina-reg';
    padding-top: 20px;
    padding-left: 10%;
    padding-bottom: 20px;
    color: var(--clr-light);
    background-color: rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    background-color: var(--clr-dark);
    padding: 10px;
    margin-left: 0;
    margin-right: 0%;
    align-items: center;
    color: var(--clr-light);
} 

.listitem {
    color: var(--clr-light);
    float: left;
    margin-left: 10px;
    display: inline-block;
    transition: 3s;
}

.headerlogoimg {
    image-rendering: optimizeSpeed;
}

.listitem:hover {
    color: #FF00BF;
    font-family: 'termina-med';
    font-size: 15px;
    cursor:pointer;
}


#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 50%;
 }



.newsitem {
    color: var(--clr-light);
    background-color: var(--clr-dark);
    display: inline;
    font-family: 'termina-black';
    padding-left: 10%;
    display: flex;
    padding-top: 50px;
}

.qualification {
    color: #FD00EB;
    background-color: var(--clr-dark);
    display: inline;
    font-family: 'termina-reg';
    padding-left: 10%;
    font-size: 16px;
    display: flex;
}

.coachingprice {
    color: chartreuse;
    background-color: var(--clr-dark);
    display: inline;
    font-family: 'termina-black';
    padding-left: 10%;
    font-size: 25px;
    display: flex;
}
.purchaser {
    color: white;
    background-color: yellow;
    display: inline;
    font-family: 'termina-black';
    animation: purchaselight infinite 1s alternate ease-in-out;
    margin-left: 10%;
    font-size: 25px;
    justify-content: center;
    width: 100px;
    display: flex;
    border-radius: 10px;
    padding: 50px;
}

.coachingname {
    color: white;
    padding-left: 10%;
}
.emoji {
    margin-left: 5px;
}
.sale {
    color: white;
    background-color: #00FF77;
    display: inline;
    font-family: 'termina-black';
    animation: salelight infinite 1s alternate ease-in-out;
    margin-left: 10%;
    font-size: 25px;
    justify-content: center;
    width: 100px;
    display: flex;
    border-radius: 10px;
}

@keyframes salelight {
    0% {
        background-color: red;
        
    }
    100% {
        background-color: yellow;
    }
}

@keyframes purchaselight {
    0% {
        background-color: #FD00EB;
        
    }
    100% {
        background-color: #FF00BF;
    }
}

.newsNOPitem {
    color: var(--clr-light);
    background-color: var(--clr-dark);
    display: inline;
    font-family: 'termina-black';
    display: flex;
    padding-top: 50px;
    margin-right: 100px;
}
main {
    margin-top: 300px;
    background: none;
    
}

body {
    background-color: transparent;
}

.subsubc {
    font-size: 20px;
    color: var(--clr-light);
    padding-left: 10%;
    padding-bottom: 50px;
}

.subsub {
    font-size: 20px;
    color: var(--clr-light);
    padding-left: 10%;
}

.newslist {
    display: flex;
    margin-left: 10%;
    flex-wrap: wrap;
    
}

.newslistimage{
    border-radius: 20px;
    transition: 3s;
    width: 500px;
}

.newslistimage:hover {
    border-radius: 10px;
    cursor:pointer;
}

.captiontext {
    color: var(--clr-light);
    font-size: 1.5em;
}

.subcaptiontext {
    color: var(--clr-light);
    font-size: 1em;
}

.newslistentry {
    margin-left: 20px;
    margin-top: 1%;
}

.gamesignifier {
    color: var(--clr-light);
    font-size: 10px;
}

.button {
    background-color: #FF00BF;
    display: inline;
    margin-left: 10%;
    border-radius: 100px;
    padding: 10px;
    font-size: 90%;
    transition: 1s;
    color: var(--clr-light);
}

.button:hover {
    background-color: chartreuse;
    display: inline;
    margin-left: 10%;
    border-radius: 100px;
    padding: 10px;
    font-size: 100%;
    color: var(--clr-light);
    cursor: pointer;
}

.fourzerofour{
    color: var(--clr-light);
    display: flex;
    justify-content: center;
    font-family: 'termina-black';
    scale: 500%;
    opacity: 50%;
    background-color: transparent;
}

.fourzfsub {
    color: var(--clr-light);
    display: flex;
    justify-content: center;
    opacity: 100%;
    margin-top: 50px;
}

.vorb {
    justify-content: center;
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
}

.gamebutton {
    color: var(--clr-light);
    background-color: #FF00BF;
    padding: 10px;
    scale: 125%;
    margin: 50px;
    border-radius: 10px;
    transition: 1s;
    
}

.gamebutton:hover {
    background-color: chartreuse;
    font-family: 'termina-black';
    cursor: pointer;
}

.buttonsubhead {
    color: var(--clr-light);
    opacity: 50%;
}

.subsubsub {
    color: var(--clr-light);
    opacity: 50%;
    padding-left: 10%;
    font-size: 20px;
}


.playercardlist {
    display: flex;
    margin-left: 10%;
    animation: slide infinite 3s alternate ease-in-out;
    animation-iteration-count: infinite;
    margin-top: 10px;
}

.playercardlist:hover {
    animation-play-state: paused;
}

.imgrnd {
    border-radius: 20px;
}



@keyframes slide {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -100px;
  }
}

.playername {
    color: #FF00BF;
    font-family: 'termina-black';
    text-decoration: none;
}

.playername2 {
    color: #FF00BF;
    font-family: 'termina-black';
    text-decoration: none;
    padding-left: 10%;
}

.playername:hover {
    color: #FD00EB;
    font-family: 'termina-black';
    text-decoration: none;
}

.playernameimportant {
    color: red;
    font-family: 'termina-black';
}

.playernamelist {
    padding-left: 10%;
    display: flex;
    flex-wrap: wrap;
}

.playerminidesc {
    color: var(--clr-light);
    font-size: 90%;
    opacity: 50%;
}

.tourneyprizepool {
    color: var(--clr-light);
    font-size: 120%;
    font-family: 'termina-black';
    color: gold;
}

.tourneygamesignifier {
    color: chartreuse;
    font-size: 75%;
    font-family: 'termina-light';
    text-decoration: none;
}

.tourneyvodgamesignifier {
    color: chartreuse;
    font-size: 50%;
    font-family: 'termina-light';
    text-decoration: none;
}

.tourneygamesignifier:hover {
    color:#FF00BF;
    font-size: 75%;
    font-family: 'termina-light';
    text-decoration: none;
}



.playerminidesclight {
    color: var(--clr-light);
    font-size: 90%;
    opacity: 50%;
    font-family: 'termina-light';
    font-size: 80%;
}

.playerminidesclight2 {
    color: var(--clr-light);
    font-size: 90%;
    opacity: 50%;
    font-family: 'termina-light';
    font-size: 80%;
    padding-left: 10%;
}

.miniregion {
    color: var(--clr-light);
    font-size: 50%;
    opacity: 50%;
}

.plyerlstentry {
    margin: 50px;
}
.playertophead {
    display: flex;
}

.plyinfolistitem {
    margin-left: 5%;
    margin-right: 5%;
}

.plyinfodesc {
    color: var(--clr-light);
    opacity: 50%;
    padding-left: 10%;
    font-size: 20px;
    
}

.plyname {
    font-family: 'termina-black';
    font-size: 500%;
    color: var(--clr-light);
    justify-content: center;
}

.plyprofile {
    width: 200px;
    border-radius: 50%;
}

.plycsmall {
    width: 300px;
    padding-left: 10%;
    border-radius: 30px;
    margin: 10px;
}

.plyinfotruedesc {
    color: var(--clr-light);
    padding-left: 10%;
    width: 500px;
}

.plyinfotruedesc2 {
    color: chartreuse;
    padding-left: 10%;
}

.highemphasisglow {
    color: var(--clr-light);
    padding-left: 10%;
    animation: glowy infinite 1s alternate;
    margin-top: 15px;
}

.featuredlink {
    color: var(--clr-light);
    padding-left: 10%;
    color: #FD00EB;
    margin-top: 15px;
    font-family: 'termina-black';
    text-decoration: none;
}
@keyframes glowy {
    0% {
      color:chartreuse;
    }
    100% {
      color: #FF00BF;
    }
  }

.vidd {
    border-radius: 15px;
    padding-left: 10%;
    width: 500px;
    height: 250px;
}

.c1 {
    background-color: #FD00EB;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.c2 {
    background-color: #FF00BF;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.coachingentry {
    display: flex;
    padding-left: 10%;
    margin-top: 50px;
}

.coachimg {
    border-radius: 10px;
}
.c5 {
    background-color: #030146;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.brandinglist {
    display: flex;
    padding-left: 10%;
    flex-wrap: wrap;
}

.branditem {
    margin-right: 150px;
}
.c3 {
    background-color: #00FF77;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.c4 {
    background-color: #7FFF00;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.colorlist {
    display: flex;
    padding-left: 10%;
}

.coloritem {
    margin-right: 10px;
}
.navlink {
    color: var(--clr-light);
    text-decoration: none;
}
em {
    font-family: 'termina-black';
}

.benefit {
    color: #FD00EB;
    font-size: 20px;
    font-family: 'termina-reg';
    animation: benefitglow infinite 3s alternate ease-in-out;
    animation-iteration-count: infinite;
    margin-left: 50px;

}

.compbenefits {
    padding-left: 10%;
    display: flex;
    margin-right: 50px;
}
@keyframes benefitglow {
    0% {
        color:#FD00EB
    }

    100% {
        color: #FF00BF;
    }
}

.downloadlink {
    text-decoration: none;
    color: #FF00BF;
    font-family: 'termina-black';
    padding-left: 10%;
}

.downloadlink:hover {
    text-decoration: none;
    color: #00FF77;
    font-family: 'termina-black';
    cursor: pointer;
}


.nolink {
    text-decoration: none;
    color: #FF00BF;
    font-family: 'termina-black';
}

.nolink2 {
    text-decoration: none;
    color: var(--clr-light);
    font-family: 'termina-black';
    background-color: transparent;
}

.nolink3 {
    text-decoration: none;
    color: var(--clr-light);
    font-family: 'termina-light';
    background-color: transparent;
}

.tourneylstentry {
    margin: 10px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.nolinkimp {
    text-decoration: none;
    color: red;
    font-family: 'termina-black';
}

.tournamentlist {
    padding-left: 10%;
    display: flex;
}

.tournamentname {
    color: #FF00BF;
    font-family: 'termina-black';
}

.tournamentname:hover {
    color: chartreuse;
    font-family: 'termina-black';
}

.iconres {
    width: 20px;
    margin-right: 10px;
}

.tourneyiconflex {
    display: flex;
}

footer {
    display: flex;
    color: var(--clr-light);
    justify-content: center;
    background-color:#FF00BF;
}

.tourneyhead {
    color: var(--clr-light);
    background-color: var(--clr-dark);
    display: inline;
    font-family: 'termina-black';
    padding-left: 10%;
    display: flex;
    padding-top: 50px;
    font-size: 100px;
}

.jtc {
    display: flex;
    justify-content: center;
    margin: 100px;
    text-decoration: none;
    color: #FF00BF;
    font-family: 'termina-black';
    transition: 0.5s;
    font-size: 125%;
    padding: 10px
}

.jtc:hover {
    display: flex;
    justify-content: center;
    margin: 100px;
    text-decoration: none;
    color: var(--clr-light);
    font-size: 100%;
}

.clickable {
    cursor: pointer;
}

.clickablelg {
    cursor: pointer;
}


.imgimg {
    padding-left: 10%;
    width: 500px;
    display: flex;
    padding-right: 100%;
    background-color: rgba(255, 255, 255, 0.1);
          
}

.blog {
    display: flex;
    justify-content: center;
}

.blogimg {
    width: 720px;
    border-radius: 15px;
    padding: 5px;
    background-color: #FF00BF;
}


.blogimginner {
    width: 720px;
    border-radius: 15px;
    padding: 5px;
    background-color: #FF00BF;
}

.bloghead {
    color: var(--clr-light);
    background-color: var(--clr-dark);
    display: inline;
    font-family: 'termina-black';
    display: flex;
    padding-top: 50px;
    font-size: 500%;
}

.blogtitle {
    color: var(--clr-light);
    background-color: var(--clr-dark);
    display: inline;
    font-family: 'termina-black';
    display: flex;
    padding-top: 15px;
}

.blogtext {
    color: white;
    width: 720px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.blogdescription {
    color: white;
    width: 720px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 75%;
}

.blogheadsub{
    color: white;
    background-color: var(--clr-dark);
    display: inline;
    font-family: 'termina-reg';
    display: flex;
    opacity: 50%;
}

.secret {
    width: 500px;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 800px) {
    .hero {
        width: 500px;
        margin-right: 250px;
      opacity: 0;
      justify-content: left;
      font-size: 10px;
      scale: 10px; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

  
@media screen and (max-width: 800px) {
    .listitem .header {
        width: 500px;
        margin-right: 250px;
      justify-content: left;
      scale: 20%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .clickablelg {
        scale: 100%;
    }

    .imgimg {
        width: 100px;
        padding: 0;
        padding-right: 500px;
    }
    .mainsubtitle {
        font-size: 12px;
    }

    main {
        margin-top: 40px;
    }
    .newsitem{ 
        font-size: 20px;
    }
    .subsub{ 
        font-size: 10px;
    }
    .subsubc{ 
        font-size: 10px;
    }
    .captiontext {
        font-size: 15px;
    }
    .subcaptiontext {
        font-size: 10px;
    }
    .newslistimage {
        width: 250px;
    }

    .subsubsub {
        font-size: 10px;
    }

    .playertophead {
        flex-wrap: wrap;
    }
    .delmobile {
        scale: 0%;
        position: fixed;
    }
    .plyname {
        font-size: 50px;
    }
    .blog {
        justify-content: center;
        flex-wrap: wrap;
    }
    .blogimg {
        scale: 40%;
        margin-top: -100px;
    }
    .blogimginner {
        width: 40%;
        height: 40%;
        margin-left: 30%;
        scale: 90%;
    }
    .bloghead {
        color: white;
        background-color: var(--clr-dark);
        display: inline;
        font-family: 'termina-black';
        display: flex;
        padding-top: 50px;
        font-size: 175%;
        justify-content: center;
    }
    .blogheadsub {
        color: white;
        background-color: var(--clr-dark);
        display: inline;
        display: flex;
        justify-content: center;
    }
    .blogtitle {
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin-top: -100px;
        flex-wrap: wrap;
        scale: 90%;
    }
    .blogtext {
        font-size: 14px;
        display: flex;
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 250px;
    }
    .tourneyhead {
        font-size: 25px;
    }
    .plyerlstentry {
        margin: 25px;
    }
    .vidd {
        width: 280px;
        height: 300px;
    }
    .plyinfotruedesc {
        color: var(--clr-light);
        padding-left: 10%;
        font-size: 15px;
        width: 150px;
    }
    .plyinfolistitem {
        margin-left: 10%;
        margin-right: 0%;
    }
    .benefit {
        font-size: 13px;
        margin-top: 40px;
    }
    .compbenefits {
        flex-wrap: wrap;
        
    }
    .coachimg {
        scale: 0%;
        position:fixed;
    }
  }
